<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1>Registro</h1>
    <form id="register-form">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required /><br />

      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" name="lastName" required /><br />

      <input type="submit" value="Registrarse" />
    </form>
    <script src="./js/script.js"></script>
  </body>
</html>
