<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/WM6xA4l4Q4L4Uz7ij7znU6ga4U6ao3SV3ltkj" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style-register.css">
  </head>
  <body>
    <div class="container">
      <form id="register-form">
        <h1>Registro</h1>
        <input type="text" id="username" name="username" placeholder="Usuario" required /><br />
        <input type="password" id="password" name="password" placeholder="Contraseña" required /><br />
        <input type="text" id="name" name="name" placeholder="Nombre" required /><br />
        <input type="text" id="lastName" name="lastName" placeholder="Apellido" required /><br />
        <input type="submit" value="Registrarse" />
        <button id="loginBtn">Login</button>
      </form>
    </div>
    <div id="messages"></div>
    <script src="./js/script.js"></script>
  </body>
</html>