<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Películas Populares</title>
    <script defer src="./js/search-script.js"></script>
  </head>
  <body>
    <button id="popularBtn" onclick="window.location.href='/popular'">
      Películas Populares
    </button>
    <button id="logoutBtn">Cerrar sesión</button>
    <h1>Buscador:</h1>
    <div>
      <input type="text" id="searchInput" placeholder="Buscar películas" />
      <button id="searchBtn">Buscar</button>
    </div>
    <div id="movies"></div>
    <div id="pagination">
      <button id="prevBtn" disabled>Anterior</button>
      <button id="nextBtn">Siguiente</button>
    </div>
  </body>
</html>