/* Estilos generales */
body {
  background-color: #273548;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Estilos para el título h1 */
h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Estilos para las películas */
#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.movie {
  background-color: #545454;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.movie h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.movie p {
  font-size: 0.9rem;
  line-height: 1.4;
}

/*Estilo Botón Popular*/
#popularBtn {
  position: fixed;
  background-color: #5cb85c;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Estilos para el botón de cerrar sesión */
#logoutBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #d9534f;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#logoutBtn:hover {
  background-color: #c9302c;
}

/* Estilos para el input y botón de buscar películas */
#searchInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#searchBtn {
  background-color: #5cb85c;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#searchBtn:hover {
  background-color: #449d44;
}

/* Estilos para paginación */
#pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  #searchInput {
    width: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  #searchBtn,
  #logoutBtn {
    margin-bottom: 0;
  }
}
